#bag {
    width: 33%;
    height: 256px;
    float: left;
    background: #62c4e4 ;
}

#equipment {
    margin-left: 67%;
    height: 256px;
    background: #30c353;
}
#itemInfo {
    width: 34%;
    height: 256px;
    float: left;
}

.player {
    background: #77ccff
}

.item {
    width: 64px;
    height: 64px;
}

.deathNotification {
    position: fixed;
    bottom: 50%;
    left: 50%;
    background: #ff3322;
    /* width: 100px;
    height: 50px; */
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}

.restart {
    top: 100%;
    left: 0%;
    width: 49%; 
    transform: translate(0, 0%);
}

.wannaLive {
    top: 100%;
    left: 50%;
    width: 49%; 
    transform: translate(0, 0%);
}
